.custom-card {
  background-color: #5f545480;
  width: 30%;
  border-radius: 20px;
  padding: 10px;
}

.custom-card-img {
  width: 80%;
  margin-top: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .custom-card {
    display: none;
  }
}
